<!-- <div id="blogs">
<mat-card class="example-card" *ngFor="let i of img" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{i.title}}</mat-card-title>
      <mat-card-subtitle>[i.subtitle]</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="i.avatar" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       {{i.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="a(i.content)">LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div> 
 -->
