
<div>
    <div class="title">
        <div id="menu">
            <nav>
              <a><button mat-button [matMenuTriggerFor]="menu"> MENU </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item> Vị kem tùy chọn </button>
                    <button mat-menu-item> Vị kem cơ bản </button>
                </mat-menu> </a>  
                <a>Liên hệ</a>
                <a></a>
            </nav>
        </div>
    </div>

    <div class="main">
        
          <div class="products" *ngFor="let p of product" >
            <h1 id="names"> {{p.name}}</h1>
            <img [src]="p.img" alt="Photo of Ice Cream">
            <h3>{{p.sub}} </h3>
           <p>{{p.price}}</p>
           <p id="solds">{{p.sold}}</p>
           <button (click)="b(p.sold)" id="button"> Buy </button>
          </div>

          
          
    </div>
</div>