
<div>
    <div class="title">
        <div id="menu">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <button mat-button [matMenuTriggerFor]="menu" style="margin: auto; color: black;"> MENU </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item> Vị kem tùy chọn </button>
                        <button mat-menu-item> Kem ốc quế </button>
                    </mat-menu>
                <button id="content"> Khuyến mãi đặc biệt</button>
              <a id="lien_he" style="margin-left: 100px">Liên hệ </a>
               <button id="content" >Hệ thống cửa hàng </button>
               <button id="content" >Giới thiệu </button>
               <button id="content" style="margin-left: 250px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg> Sign in </button>
              <button style="background-color: pink; border-style: none; margin-left: 50px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
               </button>
              

        </div>
    </div>

    <div class="main">
        
          <div class="products" *ngFor="let p of product" >
            <h1 id="names"> {{p.name}}</h1>
            <img [src]="p.img" alt="Photo of Ice Cream">
            <h3>{{p.sub}} </h3>
           <p>{{p.price}}</p>
           <p id="solds">{{p.sold}}</p>
           <button (click)="b(p.sold)" id="button"> Buy </button>
          </div>
    </div>

    
          <div class="page" style="margin-top: 40px;text-decoration: none;">
            <button style="margin-left: 650px; height: 40px; width: 40px;background-color: white; "> 1 </button>
            <button style="height: 40px; width: 40px;background-color: white; "> 2 </button>
            <button style=" height: 40px; width: 40px;background-color: white; "> 3 </button>
            <button style=" height: 40px; width: 40px;background-color: white; "> 4 </button>
            <button style=" height: 40px; width: 40px;background-color: white; "> .... </button>
          </div>
   
</div>