<div>

  <header class="header">
    <nav class="nav">
      <div class="menu">
        <!-- <i class="fa-light fa-bars"></i> -->
        <button class="bar" (click)="showSubInfo()">
          <span class="material-symbols-outlined">menu</span>
          <!-- <div class="sub_info" *ngIf="this.temp == false">
            <button>Khuyến mãi đặc biệt</button>
            <button>Liên hệ</button>
            <button>Hệ thống cửa hàng</button>
            <button>Giới thiệu</button>
          </div> -->
           <div id="sub_info" >
            <button>Khuyến mãi đặc biệt</button>
            <button>Liên hệ</button>
            <button>Hệ thống cửa hàng</button>
            <button>Giới thiệu</button>
          </div>
        </button>


        <button>Menu</button>
      </div>
      <div class="info">
        <button>Khuyến mãi đặc biệt</button>
        <button>Liên hệ</button>
        <button>Hệ thống cửa hàng</button>
        <button>Giới thiệu</button>
      </div>

      <div class="personal">
        <i></i>
        <button>Sign In</button>
        
        <button [routerLink]="['/cart']" class="add_cart">
          <span class="material-symbols-outlined">
          shopping_cart
          </span>
        </button>
      </div>
    </nav>
  </header>


  <div class="main">

    <div class="products" *ngFor="let p of icecreamSrvc.product">
      <h1 id="names"> {{p.name}}</h1>
      <img [src]="p.img" alt="Photo of Ice Cream">
      <h3>{{p.sub}} </h3>
      <p>{{p.price | currency: "VND" }} VND</p>
      <!-- <p id="solds" *ngIf="p.inStock == 0">Het hang</p> -->
      <div *ngIf="p.inStock !== 0">
        <button  (click)="this.icecreamSrvc.add(p)" id="button"> Mua hàng </button>
      </div>
      <div *ngIf="p.inStock === 0">
        <button disabled id="button"> Hết Hàng </button>
      </div>
    </div>
  </div>


  <div class="page" style="margin-top: 40px;text-decoration: none;">
    <button style="margin-left: 650px; height: 40px; width: 40px;background-color: white; "> 1 </button>
    <button style="height: 40px; width: 40px;background-color: white; "> 2 </button>
    <button style=" height: 40px; width: 40px;background-color: white; "> 3 </button>
    <button style=" height: 40px; width: 40px;background-color: white; "> 4 </button>
    <button style=" height: 40px; width: 40px;background-color: white; "> .... </button>
  </div>

</div>